<div style="text-align:left;">
  <div *ngIf="scientists">
    <div *ngFor="let woman of scientists">
      <div *ngIf="woman.ID == 001" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/grace.jpg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvR3JhY2VfSG9wcGVy" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <hr>
      <div *ngIf="woman.ID == 002" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/ada.jpg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly90ci53aWtpcGVkaWEub3JnL3dpa2kvQWRhX0xvdmVsYWNl" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 003" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/anita.jpeg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvQW5pdGFfQm9yZw" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 004" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/maria.jpeg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvTWFyaWFfS2xhd2U" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 005" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/jean.jpg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly90ci53aWtpcGVkaWEub3JnL3dpa2kvSmVhbl9CYXJ0aWs" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 006" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/betty.png" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvQmV0dHlfSG9sYmVydG9u" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 007" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/allen.jpg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvRnJhbmNlc19FLl9BbGxlbg" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 008" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/mary.jpg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvTWFyeV9LZW5uZXRoX0tlbGxlcg" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 009" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/fran.jpg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvRnJhbmNlc19TcGVuY2U" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 010" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/lisk.jpg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvQmFyYmFyYV9MaXNrb3Y" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 011" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/marga.jpg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvTWFyZ2FyZXRfSGFtaWx0b25fKHNjaWVudGlzdCk" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
      <div *ngIf="woman.ID == 012" class="col-md-12" style="padding: 30px;">
        <div class="col-md-2" style="padding-left: 50px;">
          <img src="./assets/photo/shafi.jpg" alt="Avatar" style="vertical-align: middle;width: 100px;height: 100px;border-radius: 50%;">
        </div>
        <div class="col-md-2" style="padding-top: 30px">
          <a href="http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvU2hhZmlfR29sZHdhc3Nlcg" target="_blank">{{woman.Name}}</a>
        </div>
        <div class="col-md-8">
          {{woman.info}}
        </div>
      </div>
    </div>
  </div>
</div>
