 <nav class="navbar navbar-default" style="background: #1EBEA5">
      <div class="col-md-4" style="padding-left: 100px">
        <a href="/">
          <img src="./assets/photo/woman.png" style="width: 60px;height: 60px;">
        </a>
      </div>
      <div class="row col-md-8" style="padding-left: 500px">

          <div class="col-md-4"><a style="color: white;font-family: AppleGothic " href="/"><img src="./assets/photo/home.png" style="width: 30px;height: 30px;">  Home</a></div>
          <div class="col-md-4"><a style="color: white;font-family: AppleGothic" href="/study"><img src="./assets/photo/power.png" style="width: 30px;height: 30px;">  Start</a></div>
      </div>
    </nav>


