<div style="text-align:left;">
  <div>
    <div  class="col-md-6 text-center" style="padding: 30px;">
      <div class="card w-100">
        <div class="card-block" style="padding: 1rem; background-color: #ffffff; box-shadow: 0 2px 3px 1px #d1d1d1;">
          <div class="col-md-12">
            <a href="https://angular.io/guide/quickstart" target="_blank" style="color: #0B4C5F">Angular</a>
          </div>
          <hr>
          <img src="././assets/photo/angular.png" class="mr-2 img-fluid" height="80px" width="80px"/>
        </div>
      </div>
    </div>
    <div  class="col-md-6 text-center" style="padding: 30px;">
      <div class="card w-100">
        <div class="card-block" style="padding: 1rem; background-color: #ffffff; box-shadow: 0 2px 3px 1px #d1d1d1;">
          <div class="col-md-12">
            <a href="http://www.html5andcss3.org/" target="_blank" style="color: #0B4C5F">HTML5</a>
          </div>
          <hr>
          <img src="././assets/photo/html.png" class="mr-2 img-fluid" height="80px" width="80px"/>
        </div>
      </div>
    </div>
    <div  class="col-md-6 text-center" style="padding: 30px;">
      <div class="card w-100">
        <div class="card-block" style="padding: 1rem; background-color: #ffffff; box-shadow: 0 2px 3px 1px #d1d1d1;">
          <div class="col-md-12">
            <a href="http://www.html5andcss3.org/" target="_blank" style="color: #0B4C5F">CSS3</a>
          </div>
          <hr>
          <img src="././assets/photo/css.png" class="mr-2 img-fluid" height="80px" width="80px"/>
        </div>
      </div>
    </div>
    <div  class="col-md-6 text-center" style="padding: 30px;">
      <div class="card w-100">
        <div class="card-block" style="padding: 1rem; background-color: #ffffff; box-shadow: 0 2px 3px 1px #d1d1d1;">
          <div class="col-md-12">
            <a href="https://www.typescriptlang.org/docs/home.html" target="_blank" style="color: #0B4C5F">TypeScript</a>
          </div>
          <hr>
          <img src="././assets/photo/ts.png" class="mr-2 img-fluid" height="80px" width="80px"/>
        </div>
      </div>
    </div>
    <div  class="col-md-6 text-center" style="padding: 30px;">
      <div class="card w-100">
        <div class="card-block" style="padding: 1rem; background-color: #ffffff; box-shadow: 0 2px 3px 1px #d1d1d1;">
          <div class="col-md-12">
            <a href="https://developer.mozilla.org/tr/docs/Web/JavaScript" target="_blank" style="color: #0B4C5F">JavaScript</a>
          </div>
          <hr>
          <img src="././assets/photo/js.png" class="mr-2 img-fluid" height="80px" width="80px"/>
        </div>
      </div>
    </div>
    <div  class="col-md-6 text-center" style="padding: 30px;">
      <div class="card w-100">
        <div class="card-block" style="padding: 1rem; background-color: #ffffff; box-shadow: 0 2px 3px 1px #d1d1d1;">
          <div class="col-md-12">
            <a href="https://learngitbranching.js.org/" target="_blank" style="color: #0B4C5F">Git</a>
          </div>
          <hr>
          <img src="././assets/photo/git.png" class="mr-2 img-fluid" height="80px" width="80px"/>
        </div>
      </div>
    </div>
    <div  class="col-md-6 text-center" style="padding: 30px;">
      <div class="card w-100">
        <div class="card-block" style="padding: 1rem; background-color: #ffffff; box-shadow: 0 2px 3px 1px #d1d1d1;">
          <div class="col-md-12">
            <a href="https://getbootstrap.com/" target="_blank" style="color: #0B4C5F">Bootstrap4</a>
          </div>
          <hr>
          <img src="././assets/photo/bootstrap.png" class="mr-2 img-fluid" height="80px" width="80px"/>
        </div>
      </div>
    </div>
    <div  class="col-md-6 text-center" style="padding: 30px;">
      <div class="card w-100">
        <div class="card-block" style="padding: 1rem; background-color: #ffffff; box-shadow: 0 2px 3px 1px #d1d1d1;">
          <div class="col-md-12">
            <a href="https://ionicframework.com/" target="_blank" style="color: #0B4C5F">Ionic</a>
          </div>
          <hr>
          <img src="././assets/photo/ionic.png" class="mr-2 img-fluid" height="80px" width="130px"/>
        </div>
      </div>
    </div>
       </div>
  </div>
